<div class="page-container">
<header>
  <nav class="main-nav">
    <div class="nav-left">
      <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">HOME</a>
      <a routerLink="/about" routerLinkActive="active-link">ABOUT</a>
      <a routerLink="/book" routerLinkActive="active-link">BOOK</a>
      <a routerLink="/speaking" routerLinkActive="active-link">SPEAKING</a>
    </div>
    <div class="nav-right">
      <ng-container *ngIf="!isLoggedIn; else userIcon">
      <a (click)="openAuthModal('register')">Login/Register</a>
      </ng-container>
      <ng-template #userIcon>
        <span class="user-icon" title="Account"></span>
      </ng-template>
    </div>
  </nav>
</header>

<!-- Single modal, switch content -->
<div *ngIf="showAuthModal">
  <div class="modal-backdrop" (click)="closeAuthModal()"></div>
  <div class="modal">
    <app-login
      *ngIf="isLoginMode"
      (close)="closeAuthModal()"
      (switchToRegister)="switchAuthMode()"
    ></app-login>
    <app-register
      *ngIf="showRegisterModal"
      (registered)="onUserRegistered()"
      (close)="closeAuthModal()"
      (switchToLogin)="switchAuthMode()"
    ></app-register>
  </div>
</div>

<router-outlet></router-outlet>

<footer>
  <p>© 2025 BeBe Bowie. All rights reserved.</p>
</footer>
</div>